node-red/data/flows.json
[{"id":"455d3f02.783a","type":"tab","label":"WateringMachine","disabled":false,"info":""},{"id":"ac2472da.34021","type":"tab","label":"Files","disabled":false,"info":""},{"id":"66d56ff3.dd789","type":"mqtt-broker","name":"Local MQTT","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d84c702e.07f9a","type":"ui_tab","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"60bec2e6.15025c","type":"ui_group","name":"Watering Machine Control","tab":"d84c702e.07f9a","order":1,"disp":true,"width":8,"collapse":false},{"id":"b45c25de.b0e958","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"fc6eed66.9e41a","type":"ui_group","name":"Sensors","tab":"d84c702e.07f9a","order":2,"disp":true,"width":8,"collapse":false},{"id":"12ee360b.cada7a","type":"ui_spacer","name":"spacer","group":"60bec2e6.15025c","order":10,"width":8,"height":1},{"id":"faa1bc2d.57b6f","type":"ui_tab","name":"Test","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"b2455717.90b038","type":"ui_group","name":"Default","tab":"faa1bc2d.57b6f","order":1,"disp":true,"width":"6","collapse":false},{"id":"d48364b.b89f798","type":"ui_group","name":"Group 3","tab":"d84c702e.07f9a","order":3,"disp":true,"width":6},{"id":"dfb4a60f.d788f8","type":"ui_group","name":"Data Export","tab":"48418b79.0f5834","order":1,"disp":true,"width":"12","collapse":false},{"id":"48418b79.0f5834","type":"ui_tab","name":"Stats download","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"b6b1b5d8.e64128","type":"mqtt out","z":"455d3f02.783a","name":"","topic":"iot/wateringMachine/command","qos":"","retain":"","broker":"66d56ff3.dd789","x":590,"y":260,"wires":[]},{"id":"9f4b82f2.6ee46","type":"inject","z":"455d3f02.783a","name":"changeConfig","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"configUpdate\",\"config\":{\"LIGHTING_DURATION\":28800000,\"LIGHTING_INTERVAL\":57600000,\"MOISTURE_MEASUREMENT_INTERVAL\":1000,\"MOISTURE_TRESHOLD\":90,\"WATERING_MAX_DURATION\":1800000,\"WATERING_MAX_INTERVAL\":604800000,\"WATERING_MIN_INTERVAL\":3600000,\"WATERING_STOP_TRESHOLD\":55}}","payloadType":"json","x":330,"y":140,"wires":[["b6b1b5d8.e64128"]]},{"id":"7b72e458.0db22c","type":"mqtt in","z":"455d3f02.783a","name":"","topic":"iot/wateringMachine/#","qos":"2","datatype":"auto","broker":"66d56ff3.dd789","x":140,"y":560,"wires":[["90515b64.6fb158"]]},{"id":"52f2df74.c9b72","type":"switch","z":"455d3f02.783a","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"iot/wateringMachine/command","vt":"str"},{"t":"eq","v":"iot/wateringMachine","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":710,"y":560,"wires":[["c947ee22.3b793"],["a13936a1.cc8df8","ba69fd49.93dff","d22198d.476ce68","f01437b7.caa5d8","58350d8b.633ff4","a7c8ecac.566b8","ae43f136.277f1","b1e9db84.835168"]],"outputLabels":["command","info"]},{"id":"c947ee22.3b793","type":"debug","z":"455d3f02.783a","name":"debug msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":950,"y":360,"wires":[]},{"id":"de324474.529b28","type":"inject","z":"455d3f02.783a","name":"getStats","props":[{"p":"payload"}],"repeat":"300","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"commands.getStats","payloadType":"flow","x":120,"y":200,"wires":[["90ad6708.059cb8"]]},{"id":"6a74859b.1fd4cc","type":"inject","z":"455d3f02.783a","name":"turnWatering","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":130,"y":260,"wires":[["d02ccab7.4b0c88"]]},{"id":"485aa636.cf58a8","type":"inject","z":"455d3f02.783a","name":"turnLight","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"commands.turnLight","payloadType":"flow","x":120,"y":320,"wires":[["4f6f4bd5.cd8614"]]},{"id":"8a4a6357.53c7e","type":"inject","z":"455d3f02.783a","name":"turnIdle","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"commands.turnIdle","payloadType":"flow","x":110,"y":380,"wires":[["417535bd.2c819c"]]},{"id":"90ad6708.059cb8","type":"ui_button","z":"455d3f02.783a","name":"","group":"60bec2e6.15025c","order":9,"width":0,"height":0,"passthru":true,"label":"Refresh Stats","tooltip":"","color":"","bgcolor":"","icon":"","payload":"commands.getStats","payloadType":"flow","topic":"","x":320,"y":200,"wires":[["b6b1b5d8.e64128"]]},{"id":"b45d6720.f146d8","type":"function","z":"455d3f02.783a","name":"setupVariables","func":"// <--- go see Setup tab\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nvar commandsObject={};\nvar commands=[\"getStats\",\"turnWatering\",\"turnLight\",\"turnIdle\"];\nfor (var i = 0; i < commands.length; i++) {\n    commandsObject[commands[i]]={\"command\":commands[i]};\n}\nflow.set(\"commands\",commandsObject);\n","finalize":"","x":120,"y":60,"wires":[[]]},{"id":"f01437b7.caa5d8","type":"ui_gauge","z":"455d3f02.783a","name":"","group":"60bec2e6.15025c","order":3,"width":0,"height":0,"gtype":"gage","title":"Average Moisture","label":"Moisture","format":"{{msg.payload.stats.averageMoisture}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":970,"y":580,"wires":[]},{"id":"d22198d.476ce68","type":"function","z":"455d3f02.783a","name":"All sensors avg","func":"var sensorsArray=[];\nfor(var i=0;i<msg.payload.stats.moistureSensorActive.length;i++){\n    if(msg.payload.stats.moistureSensorActive[i]){\n    var sensor={\n        \"payload\":msg.payload.stats.moistureSensorReadings[i],\n        \"topic\":\"Sensor \"+(i+1)\n    };\n    sensorsArray.push(sensor);\n        \n    }\n}\nreturn sensorsArray;","outputs":4,"noerr":0,"initialize":"","finalize":"","x":960,"y":640,"wires":[["f667fe8b.17a8c","73103a38.072d94","e9976776.1000b8"],["f667fe8b.17a8c","fa712baf.0d6518"],["fd4911fe.617ce","f667fe8b.17a8c"],["f73c1be4.cd6638","f667fe8b.17a8c"]]},{"id":"a13936a1.cc8df8","type":"switch","z":"455d3f02.783a","name":"","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"stateChange","vt":"str"},{"t":"eq","v":"stats","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":930,"y":700,"wires":[[],[]]},{"id":"90515b64.6fb158","type":"json","z":"455d3f02.783a","name":"","property":"payload","action":"","pretty":false,"x":330,"y":560,"wires":[["56c2a5ad.104bcc"]]},{"id":"62486320.21747c","type":"inject","z":"455d3f02.783a","name":"debug purposes","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"iot/wateringMachine","payload":"{\"event\":\"stats\",\"command\":\"\",\"config\":{\"LIGHTING_DURATION\":28800000,\"LIGHTING_INTERVAL\":57600000,\"MOISTURE_MEASUREMENT_INTERVAL\":1000,\"MOISTURE_TRESHOLD\":90,\"WATERING_MAX_DURATION\":1800000,\"WATERING_MAX_INTERVAL\":604800000,\"WATERING_MIN_INTERVAL\":3600000,\"WATERING_STOP_TRESHOLD\":90},\"stats\":{\"averageMoisture\":62.5,\"lightOn\":false,\"pumpOn\":false,\"lightDurationSinceLastChange\":6739,\"pumpDurationSinceLastChange\":7540,\"state\":\"IdleState\",\"statePrevious\":\"\",\"moistureSensorActive\":[true,true,false,false,false,false,false,false,false,false],\"moistureSensorReadings\":[62.5,62.5,0,0,0,0,0,0,0,0]},\"resources\":{\"freeRAM\":253084},\"timestamp\":1605392290556}","payloadType":"json","x":560,"y":480,"wires":[["52f2df74.c9b72"]]},{"id":"ba69fd49.93dff","type":"ui_text","z":"455d3f02.783a","group":"60bec2e6.15025c","order":1,"width":0,"height":0,"name":"","label":"Current State","format":"{{msg.payload.stats.state}}","layout":"row-left","x":950,"y":540,"wires":[]},{"id":"d02ccab7.4b0c88","type":"ui_button","z":"455d3f02.783a","name":"","group":"60bec2e6.15025c","order":6,"width":0,"height":0,"passthru":true,"label":"Watering ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"commands.turnWatering","payloadType":"flow","topic":"","x":310,"y":260,"wires":[["b6b1b5d8.e64128"]]},{"id":"4f6f4bd5.cd8614","type":"ui_button","z":"455d3f02.783a","name":"","group":"60bec2e6.15025c","order":7,"width":0,"height":0,"passthru":true,"label":"Light ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"commands.turnLight","payloadType":"flow","topic":"","x":300,"y":320,"wires":[["b6b1b5d8.e64128"]]},{"id":"417535bd.2c819c","type":"ui_button","z":"455d3f02.783a","name":"","group":"60bec2e6.15025c","order":8,"width":0,"height":0,"passthru":true,"label":"Turn Idle","tooltip":"","color":"","bgcolor":"","icon":"","payload":"commands.turnIdle","payloadType":"flow","topic":"","x":300,"y":380,"wires":[["b6b1b5d8.e64128"]]},{"id":"f667fe8b.17a8c","type":"ui_chart","z":"455d3f02.783a","name":"","group":"fc6eed66.9e41a","order":1,"width":0,"height":0,"label":"Average All sensors","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1210,"y":600,"wires":[[]]},{"id":"73103a38.072d94","type":"debug","z":"455d3f02.783a","name":"debug msg","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1650,"y":620,"wires":[]},{"id":"e9976776.1000b8","type":"ui_gauge","z":"455d3f02.783a","name":"","group":"fc6eed66.9e41a","order":2,"width":0,"height":0,"gtype":"gage","title":"Sensor 1","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1180,"y":640,"wires":[]},{"id":"fa712baf.0d6518","type":"ui_gauge","z":"455d3f02.783a","name":"","group":"fc6eed66.9e41a","order":3,"width":0,"height":0,"gtype":"gage","title":"Sensor 2","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1180,"y":680,"wires":[]},{"id":"fd4911fe.617ce","type":"ui_gauge","z":"455d3f02.783a","name":"","group":"fc6eed66.9e41a","order":4,"width":0,"height":0,"gtype":"gage","title":"Sensor 3","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1180,"y":720,"wires":[]},{"id":"f73c1be4.cd6638","type":"ui_gauge","z":"455d3f02.783a","name":"","group":"fc6eed66.9e41a","order":5,"width":0,"height":0,"gtype":"gage","title":"Sensor 4","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1180,"y":760,"wires":[]},{"id":"713f65f4.55310c","type":"ui_text","z":"455d3f02.783a","group":"60bec2e6.15025c","order":2,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":1170,"y":500,"wires":[]},{"id":"58350d8b.633ff4","type":"function","z":"455d3f02.783a","name":"format description","func":"var message=\"\";\nvar config=msg.payload.config;\nvar stats=msg.payload.stats;\nfunction timeConversion(millisec) {\n\n    var seconds = (millisec / 1000).toFixed(1);\n\n    var minutes = (millisec / (1000 * 60)).toFixed(1);\n\n    var hours = (millisec / (1000 * 60 * 60)).toFixed(1);\n\n    var days = (millisec / (1000 * 60 * 60 * 24)).toFixed(1);\n\n    if (seconds < 60) {\n        return seconds + \" Sec\";\n    } else if (minutes < 60) {\n        return minutes + \" Min\";\n    } else if (hours < 24) {\n        return hours + \" Hrs\";\n    } else {\n        return days + \" Days\"\n    }\n}\nswitch(stats.state){\n    case \"WateringState\":\n        message+=\"Watering will stop if Moisture Average is over \"+config.WATERING_STOP_TRESHOLD;\n        message+=\" or in \"+timeConversion(config.WATERING_MAX_DURATION-stats.pumpDurationSinceLastChange);\n        break;\n    case \"IdleState\":\n        \n        if(config.WATERING_MIN_INTERVAL > stats.pumpDurationSinceLastChange){\n             message+=\"Watering can start in \"+timeConversion(config.WATERING_MIN_INTERVAL-stats.pumpDurationSinceLastChange);\n        }else{\n            message+=\"Watering will start if Moisture Average is below \"+config.MOISTURE_TRESHOLD;\n            message+=\"\\n\\r or in \"+timeConversion(config.WATERING_MAX_INTERVAL-stats.pumpDurationSinceLastChange);\n        }\n        message+=\"\\n\\r and the lighting will turn on in \"+timeConversion(config.LIGHTING_INTERVAL-stats.lightDurationSinceLastChange);\nnode.warn(message);\n        break;\n    case \"LightingState\":\n         message+=\"Lighting will stop in \"+timeConversion(config.LIGHTING_DURATION-stats.lightDurationSinceLastChange);\n        break;\n    default :\n    message=\"Unknown state\";\n    break;\n}\n\nreturn {\"payload\":message};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":500,"wires":[["713f65f4.55310c"]]},{"id":"56c2a5ad.104bcc","type":"change","z":"455d3f02.783a","name":"","rules":[{"t":"set","p":"payload.timestamp","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":560,"wires":[["52f2df74.c9b72"]]},{"id":"3f343db2.6e4762","type":"ui_audio","z":"455d3f02.783a","name":"","group":"60bec2e6.15025c","voice":"Google US English","always":true,"x":1180,"y":460,"wires":[]},{"id":"a7c8ecac.566b8","type":"file","z":"455d3f02.783a","name":"","filename":"./wateringStats/wateringStats.json","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1020,"y":840,"wires":[[]]},{"id":"f31a598d.9fd2c8","type":"function","z":"ac2472da.34021","name":"Set base path","func":"//restrict to c:\\temp\\\nvar basePath = \"./wateringStats/\";\nvar filename = msg.req.params.fn;\n\n\nif(filename.includes(\"\\\\\") || filename.includes(\"/\") || filename.includes(\"..\")){\n    msg.payload = \"Illegal file path\";\n    msg.statusCode = 405;//not allowed\n    return [null, msg];//fire output 2\n} \n//TODO: add more checks\n\nmsg.filename = basePath + filename;\nreturn [msg, null];//fire output 1\n\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":360,"y":240,"wires":[["34dc99e5.495466"],["98261154.3006"]]},{"id":"98261154.3006","type":"http response","z":"ac2472da.34021","name":"","statusCode":"","headers":{},"x":710,"y":280,"wires":[]},{"id":"34dc99e5.495466","type":"file in","z":"ac2472da.34021","name":"","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":550,"y":220,"wires":[["98261154.3006"]]},{"id":"38d65d59.1d8aa2","type":"catch","z":"ac2472da.34021","name":"","scope":null,"uncaught":false,"x":180,"y":320,"wires":[["3b8014a.86ad8ec","5b18a8e7.fb8da8"]]},{"id":"3b8014a.86ad8ec","type":"function","z":"ac2472da.34021","name":"Set 404","func":"msg.payload = msg.error;\nmsg.statusCode = 404;//resource not found\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":320,"wires":[["98261154.3006"]]},{"id":"5b18a8e7.fb8da8","type":"debug","z":"ac2472da.34021","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":330,"y":360,"wires":[]},{"id":"a8c2985e.d23ad8","type":"ui_template","z":"ac2472da.34021","group":"dfb4a60f.d788f8","name":"View with download link","order":0,"width":0,"height":0,"format":"<div >\n    <a href=\"/files/wateringStats.json\">download wateringStats.json</a>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":590,"y":400,"wires":[[]]},{"id":"5de7cbb4.fa21a4","type":"comment","z":"ac2472da.34021","name":"Create http endpoint <nodered>/files/xxx  where xxx is the file name to download","info":"","x":400,"y":180,"wires":[]},{"id":"67ecfa7f.3f0e24","type":"http in","z":"ac2472da.34021","name":"","url":"/files/:fn","method":"get","upload":false,"swaggerDoc":"","x":190,"y":240,"wires":[["f31a598d.9fd2c8"]]},{"id":"1e936141.ac71df","type":"ui_chart","z":"455d3f02.783a","name":"","group":"60bec2e6.15025c","order":12,"width":0,"height":0,"label":"Resources Chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1150,"y":800,"wires":[[]]},{"id":"ae43f136.277f1","type":"function","z":"455d3f02.783a","name":"","func":"function formatBytes(bytes, decimals = 2) {\n    if (bytes === 0) return '0 Bytes';\n\n    const k = 1024;\n    const dm = decimals < 0 ? 0 : decimals;\n    const sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];\n\n    const i = Math.floor(Math.log(bytes) / Math.log(k));\n\n    return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];\n}\nvar sizeInMB = (msg.payload.resources.freeRAM / (1024*1024)).toFixed(2);\nreturn [{\"payload\":msg.payload.resources.freeRAM,\"topic\":\"freeRAM\"}];","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":800,"wires":[["1e936141.ac71df"]]},{"id":"171f8674.e25eea","type":"inject","z":"455d3f02.783a","name":"Reset chart","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[]","payloadType":"json","x":960,"y":760,"wires":[["1e936141.ac71df"]]},{"id":"4358a6f5.5fa9f8","type":"ui_text_input","z":"455d3f02.783a","name":"","label":"Moisture treshold","tooltip":"","group":"60bec2e6.15025c","order":5,"width":0,"height":0,"passthru":false,"mode":"number","delay":"3000","topic":"","x":1250,"y":340,"wires":[["fa6475b5.172c98"]]},{"id":"fa6475b5.172c98","type":"trigger","z":"455d3f02.783a","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"1","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1360,"y":420,"wires":[["94a758f4.d683d8"]]},{"id":"b1e9db84.835168","type":"function","z":"455d3f02.783a","name":"set currentConfig","func":"flow.set(\"currentConfig\",msg.payload.config)\nreturn [{\"payload\":flow.get(\"currentConfig\").MOISTURE_TRESHOLD}];","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":420,"wires":[["4358a6f5.5fa9f8"]]},{"id":"94a758f4.d683d8","type":"function","z":"455d3f02.783a","name":"","func":"var command={};\ncommand.payload={\n    \"command\": \"configUpdate\",\n    \"config\": flow.get(\"currentConfig\")\n};\ncommand.payload.config.MOISTURE_TRESHOLD=msg.payload;\nreturn [command];","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1540,"y":420,"wires":[["4146569b.313818","73773bb4.02d414"]]},{"id":"4146569b.313818","type":"link out","z":"455d3f02.783a","name":"command","links":["64ee32c6.c3634c"],"x":1715,"y":420,"wires":[]},{"id":"64ee32c6.c3634c","type":"link in","z":"455d3f02.783a","name":"","links":["4146569b.313818"],"x":335,"y":420,"wires":[["b6b1b5d8.e64128"]]},{"id":"c8babc46.61af6","type":"inject","z":"455d3f02.783a","name":"Reset chart","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[]","payloadType":"json","x":690,"y":600,"wires":[["f667fe8b.17a8c"]]},{"id":"73773bb4.02d414","type":"debug","z":"455d3f02.783a","name":"debug msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1690,"y":480,"wires":[]}]